*{
    box-sizing: border-box;
}

.header-oppsett{

    header{
        grid-area: header;
        display: flex;
        align-items: baseline;
        width: 100%;
        justify-content: space-between;

        span{
            a{
                text-decoration: none;
                font-size: 2rem;
                font-weight: 800;
                color: #000;
            }
        }

        nav{

            .navigasjonsliste{
                display: flex;
                gap: 1.5rem;
                list-style: none;
                color: #000;

                .handlekurv{
                    display: none;
                }
                
                .hamburger{
                    .menypunkter{
                        display: none;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 0;
                        margin: 1rem 0;

                        li{
                            list-style: none;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: 800px) {
        header{
            justify-content: center;

            nav{
                width: 90%;

                .navigasjonsliste{
                    flex-flow: row-reverse;
                    align-items: baseline;
                    width: 100%;
                    justify-content: space-between;

                    .handlekurv{
                        display: block;
                    }

                    .hamburger{
                        width: 90%;

                        .hamburgerikon{
                            display: none;
                        }

                        .menypunkter{
                            display: flex;
                            justify-content: space-around;

                            li{
                                list-style: none;
                                font-size: 1.8rem;
                            }
                        }
                    }
                }
            }
        }
    } 
}

body{
    background-color: #eae6e6;
    font-family: Arial, Helvetica, sans-serif;

    .grid-hovedlayout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "header"
                            "main"
                            "footer";

        @extend .header-oppsett;
        
        main{
            grid-area: main;

            #grid-forside{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, auto);
                /*grid-template-areas: "video"
                                    "produkter"
                                    "nyheter"
                                    "kategorier";*/

                #videosnutt{
                    /*grid-area: video;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;

                    article{
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;

                        #video{
                            width: 100%;
                            max-width: 700px;
                        }
                    }
                }

                #produkt{
                    /*grid-area: produkter;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                    display: flex;

                    article{
                        padding: 1rem;
                        width: 50%;

                        img{
                            width: 100%;
                        }
                    }
                }

                #nyheter{
                    /*grid-area: nyheter;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 4;

                    article{
                        padding: 1rem;

                        img{
                            width: 100%;
                        }
                    }
                }

                #kategorier{
                    /*grid-area: kategorier;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 4;
                    grid-row-end: 5;
                    display: flex;

                    article{
                        padding: 1rem;

                        img{
                            width: 100%;
                        }
                    }
                }
            }

            @media only screen and (min-width: 700px) {

                #grid-forside{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: repeat(4, auto);

                    #videosnutt{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-end: 3;
                    }

                    #produkt{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 3;
                        display: flex;

                        article{
                            padding: 1rem;
                            width: 50%;
        
                            img{
                                width: 100%;
                            }
                        }
                    }

                    #nyheter{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 3;
                        grid-row-end: 5;
                    }

                    #kategorier{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 3;
                        grid-row-end: 5;
                    }
                }
            }
        }

        footer{
            grid-area: footer;
        }
    }

    #grid-kategori-layout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "header"
                            "aside"
                            "main"
                            "footer";

        @extend .header-oppsett;

        main{
            grid-area: main;

            section{
                display: flex;
                width: 100%;
                flex-wrap: wrap;

                h1{
                    width: 100%;
                }

                article{
                    padding: 1rem;
                    width: 50%;

                    img{
                        width: 100%;
                    }
                }
            }
        }
        
        aside{
            grid-area: aside;
        }

        footer{
            grid-area: footer;
        }
    }

    @media only screen and (min-width: 800px) {
        #grid-kategori-layout{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(4, auto);

            header{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            main{
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 4;

                section{
                    article{
                        width: 33%;
                    }
                }
            }
        
            aside{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 4;
            }

            footer{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 4;
                grid-row-end: 5;
            }
        }
    }
}

.bildekilde{
    margin: 0;
    font-size: 0.6rem;
    a{
        text-decoration: none;
    }
}
