*{
    box-sizing: border-box;
}

/*Oppsett for headeren, som jeg gjenbruker på alle sidene. Den er utformet for mobil, med media queries slik at den endrer seg når skjermen blir større:*/
.header-oppsett{

    header{
        grid-area: header;
        display: flex;
        align-items: baseline;
        width: 100%;
        justify-content: space-between;

        span{
            a{
                text-decoration: none;
                font-size: 2rem;
                font-weight: 800;
                color: #000;
            }
        }

        nav{

            .navigasjonsliste{
                display: flex;
                gap: 1.5rem;
                list-style: none;
                color: #000;

                .handlekurv{
                    display: none;
                }
                
                .hamburger{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    position: relative;

                    a{
                        padding: 0 0 1rem 0;
                    }
                    .menypunkter{
                        display: none;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 0;
                        margin: 1rem 0;
                        z-index: 50;

                        li{
                            list-style: none;
                        }

                        a{
                            text-decoration: none;
                        }
                    }
                    
                    .responsive{
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        background-color: #575454;
                        margin: 0;
                        padding: 0.5rem;
                        top: 40px;
                        right: 0;

                        a{
                            display: inline-block;
                            padding: 0.3rem;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: 800px) {
        header{
            justify-content: center;
            padding: 0 0 3rem 0;

            nav{
                width: 90%;

                .navigasjonsliste{
                    flex-flow: row-reverse;
                    align-items: baseline;
                    width: 100%;
                    justify-content: space-between;

                    .handlekurv{
                        display: block;
                    }

                    .hamburger{
                        width: 90%;
                        height: 35px;
                        padding: 0 1rem 0 1rem;

                        #hamburgerikon{
                            display: none;
                        }

                        .menypunkter{
                            display: flex;
                            justify-content: space-between;
                            position: absolute;
                            width: 100%;
                            margin: 0;
                            top: 10px;
                            padding: 0 2rem 0 2rem;

                            li{
                                list-style: none;
                                font-size: 1.8rem;

                                a{
                                    color: #000;
                                }
                            }

                            #handlekurv-tekst{
                                display: none;
                            }
                        }

                        .responsive{
                            display: flex;
                            flex-direction: row;
                            background-color: #eae6e6;
                            margin: 0;
                            padding: 0.5rem;
                            top: 5px;
                            right: 0;
    
                            a{
                                display: inline-block;
                                padding: 0.3rem;
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    } 
}

body{
    background-color: #eae6e6;
    font-family: Arial, Helvetica, sans-serif;

/*Forside mobil: Grid til hovedkomponentene (header, main og footer):*/
    .grid-hovedlayout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "header"
                            "main"
                            "footer";

        @extend .header-oppsett;
        
        main{
            grid-area: main;

/*Forside mobil: Grid til hovedkomponentene inne i main (fire forskjellige <section> med hver sin #id):*/
            #grid-forside{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, auto);
                /*grid-template-areas: "video"
                                    "produkter"
                                    "nyheter"
                                    "kategorier";*/

                #videosnutt{
                    /*grid-area: video;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;

                    article{
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;

                        #video{
                            width: 100%;
                            max-width: 800px;
                        }
                    }
                }

                #produkt{
                    /*grid-area: produkter;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                    display: flex;

                    article{
                        padding: 1rem;
                        width: 50%;

                        img{
                            width: 100%;
                        }
                    }
                }

                #nyheter{
                    /*grid-area: nyheter;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 4;

                    article{
                        padding: 1rem;

                        img{
                            width: 100%;
                        }
                    }
                }

                #kategorier{
                    /*grid-area: kategorier;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 4;
                    grid-row-end: 5;
                    display: flex;

                    article{
                        padding: 1rem;

                        img{
                            width: 100%;
                        }
                    }
                }
            }

/*Forside desktop: Grid til hovedkomponentene inne i main (fire forskjellige <section> med hver sin #id):*/
            @media only screen and (min-width: 700px) {

                #grid-forside{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: repeat(4, auto);
                    padding: 2rem 0 0 0;

                    #videosnutt{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-end: 3;
                    }

                    #produkt{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 3;
                        display: flex;

                        article{
                            padding: 1rem;
                            width: 50%;
        
                            img{
                                width: 100%;
                            }
                        }
                    }

                    #nyheter{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 3;
                        grid-row-end: 5;
                    }

                    #kategorier{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 3;
                        grid-row-end: 5;
                    }
                }
            }
        }

        footer{
            grid-area: footer;
        }
    }

/*Forside desktop: Grid til hovedkomponentene i body (header, main og footer):*/
    @media only screen and (min-width: 700px) {
        .grid-hovedlayout{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(3, auto);

            header{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            main{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            footer{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }
    }

/*Kategoriside mobil: Grid til hovedkomponentene (header, aside, main og footer):*/
    #grid-kategori-layout{
        display: grid;
        grid-template-areas: "header" "aside" "main" "footer";
        /*grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "header"
                            "aside"
                            "main"
                            "footer";*/

        @extend .header-oppsett;

        main{
            /*grid-area: main;*/

            section{
                display: flex;
                width: 100%;
                flex-wrap: wrap;

                h1{
                    width: 100%;
                    font-size: 2.7rem;
                    margin: 0 0 1rem 0;
                }

                article{
                    padding: 1rem;
                    width: 50%;

                    img{
                        width: 100%;
                    }
                }
            }
        }
        
        aside{
            grid-area: aside;
            padding: 1rem 1rem 0 1rem;

            .fa-arrow-down-wide-short{
                display: flex;
                justify-content: end;
                margin: 1rem 0 0 0;
            }

            #filter-section{
                display: none;
            }
        }

        footer{
            grid-area: footer;
        }
    }

/*Kategoriside desktop: Grid til hovedkomponentene (header, aside, main og footer) når skjermen blir større:*/
    @media only screen and (min-width: 800px) {
        #grid-kategori-layout{
            display: grid;
            /*grid-template-areas: "header header header" "aside main main" "aside main main" "footer footer footer";*/
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(4, auto);

            header{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 2;
            }

            main{
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 4;

                section{

                    h1{
                        margin: 3rem 0 1rem 1rem;
                        padding: 0 0 2rem 1rem;
                        border-bottom: 2px solid #000;
                    }
                    article{
                        width: 33%;
                    }
                }
            }
        
            aside{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 4;

                .fa-arrow-down-wide-short{
                    display: none;
                }

                #filter-section{
                    display: flex;
                    flex-direction: column;

                    h3{
                        padding: 0 0 0 1rem;
                        font-size: 2rem;
                    }

                    #first-filter{
                        border-top: 2px solid #000;
                    }

                    article{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: baseline;

                        p{
                            padding: 0.5rem 0 1rem 1rem;
                            font-size: 1.5rem;
                            font-weight: 550;
                        }

                        .fa-plus{
                            padding: 0.1rem 0.5rem 0 0;
                        }
                    }
                }
            }

            footer{
                grid-column-start: 1;
                grid-column-end: 4;
                grid-row-start: 4;
                grid-row-end: 5;
            }
        }
    }
}

/*Felles design for alle bildetekstene (kildene til de forskjellige bildene jeg har brukt fra Pixabay) på alle sidene:*/
.bildekilde{
    margin: 0;
    font-size: 0.6rem;
    a{
        text-decoration: none;
        color: #000;
    }
}

/*Fargejustering på alle ikonene fra fontawesome.com*/
.fa-magnifying-glass, .fa-cart-shopping, .fa-bars, .fa-arrow-down-wide-short, .fa-plus{
    color: #000;
}

/*Kilde for oppsett av rette linjer i CSS: https://www.shecodes.io/athena/5273-create-straight-and-horizontal-lines-with-css*/
.linje{
    border-bottom: 2px solid #000;
}
