*{
    box-sizing: border-box;
}

body{
    background-color: #eae6e6;
    font-family: Arial, Helvetica, sans-serif;

    #grid-hovedlayout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "header"
                            "main"
                            "footer";


        header{
            grid-area: header;
            display: flex;
            align-items: baseline;
            width: 100%;
            justify-content: space-between;

            span{
                a{
                    text-decoration: none;
                    font-size: 2rem;
                    font-weight: 800;
                    color: #000;
                }
            }

            nav{

                ul{
                    display: flex;
                    gap: 1.5rem;
                    list-style: none;
                    color: #000;
                        
                    #menypunkter{
                        display: none;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 0;
                        margin: 1rem 0;
                    }
                }

            }
        }

        main{
            grid-area: main;

            #grid-forside{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, auto);
                /*grid-template-areas: "video"
                                    "produkter"
                                    "nyheter"
                                    "kategorier";*/

                #videosnutt{
                    /*grid-area: video;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 2;

                    article{
                        display: flex;
                        flex-direction: column;
                        padding: 1rem;

                        #video{
                            width: 100%;
                            max-width: 700px;
                        }
                    }
                }

                #produkt{
                    /*grid-area: produkter;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 2;
                    grid-row-end: 3;
                    display: flex;

                    article{
                        padding: 1rem;
                        width: 50%;

                        img{
                            width: 100%;
                        }
                    }
                }

                #nyheter{
                    /*grid-area: nyheter;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 3;
                    grid-row-end: 4;

                    article{
                        padding: 1rem;

                        img{
                            width: 100%;
                        }
                    }
                }

                #kategorier{
                    /*grid-area: kategorier;*/
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 4;
                    grid-row-end: 5;
                    display: flex;

                    article{
                        padding: 1rem;

                        img{
                            width: 100%;
                        }
                    }
                }
            }

            @media only screen and (min-width: 600px) {

                #grid-forside{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: repeat(4, auto);

                    #videosnutt{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 1;
                        grid-row-end: 3;
                    }

                    #produkt{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 1;
                        grid-row-end: 3;
                        display: flex;

                        article{
                            /*flex-direction: column;
                            display: inline-block; */
                            padding: 1rem;
                            width: 50%;
        
                            img{
                                width: 100%;
                            }
                        }
                    }

                    #nyheter{
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 3;
                        grid-row-end: 5;
                    }

                    #kategorier{
                        grid-column-start: 3;
                        grid-column-end: 5;
                        grid-row-start: 3;
                        grid-row-end: 5;
                    }
                }
            }
        }

        footer{
            grid-area: footer;
        }
    }
}

.bildekilde{
    margin: 0;
    font-size: 0.6rem;
    a{
        text-decoration: none;
    }
}
