*{
    box-sizing: border-box;
}

body{
    background-color: #eae6e6;
    font-family: Arial, Helvetica, sans-serif;

    a{
        text-decoration: none;
        color: #000;
    }

    header{
        padding: 1rem;
        text-decoration: none;

        nav{
            ul{
                padding: 0;
                margin: 0;
                float: right;

                li{
                    display: inline-block;
                }
            }
        }
    }

    section{

        #video{
            width: 100%;
        }
    }
}