*{
    box-sizing: border-box;
}

body{
    background-color: #eae6e6;
    font-family: Arial, Helvetica, sans-serif;

    header{
        display: flex;
        align-items: baseline;
        width: 100%;
        justify-content: space-between;

        span{
            a{
                text-decoration: none;
                font-size: 2rem;
                font-weight: 800;
                color: #000;
            }
        }

        nav{

            ul{
                display: flex;
                gap: 1.5rem;
                list-style: none;
                color: #000;
                    
                #menypunkter{
                    display: none;
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 0;
                    margin: 1rem 0;
                }
            }

        }
    }

    main{
        #grid-forside{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            grid-template-areas: "video"
                                "produkter"
                                "nyheter"
                                "kategorier";

            #videosnutt{
                grid-area: video;

                article{
                    display: flex;
                    flex-direction: column;
                    padding: 1rem;

                    #video{
                        width: 100%;
                        max-width: 700px;
                    }
                }
            }

            #produkt{
                grid-area: produkter;
                display: flex;

                article{
                    padding: 1rem;

                    img{
                        width: 100%;
                    }
                }
            }

            #nyheter{
                grid-area: nyheter;

                article{
                    padding: 1rem;

                    img{
                        width: 100%;
                    }
                }
            }

            #kategorier{
                grid-area: kategorier;
                display: flex;

                article{
                    padding: 1rem;

                    img{
                        width: 100%;
                    }
                }
            }
        }

        @media only screen and (min-width: 600px) {

            #grid-forside{
                grid-template-columns: 1fr 1fr 1fr 1fr;

                #videosnutt{
                    grid-column-start: 3;
                    grid-column-end: 5;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }

                #produkter{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }

                #nyheter{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 3;
                    grid-row-end: 5;
                }

                #kategorier{
                    grid-column-start: 3;
                    grid-column-end: 5;
                    grid-row-start: 3;
                    grid-row-end: 5;
                }
            }
        }
    }

    footer{
            
    }
}

.bildekilde{
    margin: 0;
    font-size: 0.6rem;
    text-decoration: none;
}
