*{
    box-sizing: border-box;
}

body{
    background-color: #eae6e6;
    font-family: Arial, Helvetica, sans-serif;

    header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        span{
            a{
                text-decoration: none;
                font-size: 2rem;
                font-weight: 800;
                color: #000;
            }
        }

        nav{
            ul{
                display: flex;
                gap: 1.5rem;
                list-style: none;
                color: #000;
                
                #menypunkter{
                        display: none;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 0;
                        margin: 1rem 0;
                }
            }

        }
    }

    main{
        section{
            article{
                #video{
                    width: 100%;
                    max-width: 700px;

                    @media only screen and (min-width: 600px){
                        float: right;
                    }
                }

                p{
                    font-size: 0.7rem;

                    @media only screen and (min-width: 600px){
                        float: right;
                    }
                }
            }
        }
    }
}
